body {
  background-color:gray;
}

.container {
  height:200px;
  width:100%;
  background-color:white;
}

/*Horizontal center*/
.H_center{
  width: 500px;
  margin: 0 auto;
  border: 1px solid black;
}
